.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrollContainer {
  height: 25vh;
  overflow: scroll;
}

.notificationContainer {
  display: flex;
  flex-direction: column-reverse;
}

h5 {
  margin-bottom: 0px;
}